<?xml version="1.0"?>
<launch>
  <arg name="tera" />
  <arg name="optic" />
  <arg name="steering" />

  <node name="oe_ardiuno" pkg="rosserial_python"
  type="serial_node.py" args="$(arg optic)" output="screen" />

  <node ns="arduino_deux" name="steering_arduino" pkg="rosserial_python"
  type="serial_node.py" args="$(arg steering)" output="screen" />

  <node name="tera" pkg="terarangerone" type="terarangerone_node"
  args="_portname:=$(arg tera)" />
  
  <node name="odom" pkg="setup" type="odom" />
  <node name="tf_pub" pkg="setup" type="tf_pub"/>
  <node name="laser_scan_pub" pkg="setup" type="laser_scan_pub" output="screen" />
</launch>
